<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Result</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <div class="result-box">
        <h1>Calculation Result</h1>
        <h2>The sum is: <%= sum %></h2>
        <a href="/">Calculate again</a>
    </div>
</body>
</html>